@page
@model BestShop.Pages.Admin.books.IndexModel
@{
}
<h2 class="my-3">List of Books</h2> 

<div class="row-mb-3">
    <div class="col">
        <a class='btn btn-primary' href='/Admin/Books/Create'>New Book</a>
    </div>
    <div class="col">
        <form class="d-flex">
            <input class="form-control me-2" type="search" name="search" value="@Model.search" placeholder="Search by Title or author" />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Authors</th>
            <th>Pages</th>
            <th>Price</th>
            <th>Category</th>
            <th>Image</th>
            <th>Created</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listBooks)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Authors</td>
                <td>@item.NumPages</td>
                <td>@item.Price</td>
                <td>@item.Category</td>
                <td><img src="/images/books/@item.ImageFileName"/></td>
                <td>@item.CreatedAt</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" href="/Admin/Books/Edit?id=@item.Id">Edit</a>
                    <a class="btn btn-primary btn-sm" href="/Admin/Books/Delete?=@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
